<div id="main" class="main">
  <div class="row">
    <div class="content-title">
      <div class="title-project">
        <h4>{{detailProject.name}}</h4>
      </div>
      <div class="listPeriod">
        <select
          name=""
          ng-change="changePeriod()"
          ng-model="valuePeriod"
          class="form-control select"
          id=""
        >
          <option value="" hidden>Giai đoạn</option>
          <option value="{{item.id}}" ng-repeat="item in listPeriodById">
            {{item.name}}
          </option>
        </select>
      </div>
      <div class="listPeriod__btn">
        <a href="#member/period-project/{{projectId}}">
          <div
            class="btn_eye"
            data-bs-toggle="tooltip"
            title="Xem chi tiết các giai đoạn"
          >
            <img src="../../../assets/img/eye-fill.svg" />
          </div>
        </a>
      </div>
      <div class="list-member">
        <a ng-repeat-start="member in listMemberProject | limitTo:4" href="">
          <img
            class="rounded-circle"
            width="30px"
            height="30px"
            my-tooltip
            tooltip-content="{{member.name + ' ' + member.code}}"
            src="{{member.image}}"
            alt=""
          />
        </a>
        <a ng-repeat-end></a>
        <button ng-show="checkNumberMember" class="btn-people">
          +{{numberMemberMore}}
        </button>
        <button
          class="btn-people-detail"
          data-bs-toggle="modal"
          data-bs-target="#modal_showMember"
        >
          <img src="../../../assets/img/eye-fill.svg" />
        </button>
      </div>
    </div>
  </div>
  <br />
  <div class="container-custom-trello">
    <div class="row flex-nowrap">
      <div style="width: auto">
        <div class="card trello-card">
          <div class="card-body">
            <h6 class="card-title">TÀI LIỆU DỰ ÁN</h6>
            <ul class="list-group">
              <li ng-repeat="item in listResource" class="list-group-item">
                <a> {{item.name}} <br /><i class="bx bx-file"></i></a>
              </li>
              <li
                class="list-group-item add-card"
                ng-click="addACard(xx.id)"
                ng-hide="xx.checkShowAddCard"
              >
                <i class="bx bx-plus"></i> Add a card
              </li>
              <div class="form_add_card" ng-show="xx.checkShowAddCard">
                <input
                  type="text"
                  placeholder="Enter card title"
                  class="form-control mb-2"
                  name="inputTitle"
                  ng-model="valueInput"
                />
                <button ng-click="addNewResource()" class="btn btn-primary">
                  Add card
                </button>
                <button
                  class="btn btn-outline-secondary"
                  ng-click="xx.checkShowAddCard = false"
                >
                  Close
                </button>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div ng-repeat="xx in listTask" style="width: auto; padding-left: 0">
        <div class="card trello-card">
          <h6 class="card-title">{{xx.name}}</h6>
          <div class="card-body">
            <ul
              class="list-group"
              dnd-list="xx.todoList"
              ng-init="externalSources=['external']"
              dnd-allow-same-container
              dnd-external-sources="externalSources"
              dnd-drop="onDrop($event, index, item, external, type, xx)"
            >
              <li
                ng-repeat="item in xx.todoList"
                dnd-draggable="item"
                dnd-selected="selected = item"
                ng-class="{selected: selected === item}"
                class="list-group-item"
                dnd-effect-allowed="move"
                dnd-dragstart="onDragStart($index, xx.todoList)"
                dnd-dragend="onDragEnd(item, xx, $event, $index)"
                dnd-moved="draggedItem = item"
                style="list-style: none"
                data-bs-toggle="modal"
                data-bs-target="#modal_show_detail_todo"
                ng-click="actionDetailTodo(item.id, $index, xx.id)"
              >
                <div>
                  <span
                    ng-repeat="lb in item.labels"
                    my-tooltip
                    tooltip-content="{{lb.name}}"
                    class="label_todo"
                    ng-style="{ backgroundColor: lb.colorLabel }"
                    ><span class="label_dot"></span>{{lb.code}}</span
                  >
                </div>
                <a
                  >{{item.name}}
                  <br />
                  <span
                    my-tooltip
                    tooltip-content="{{item.priorityLevel == 0 ? 'Độ ưu tiên: Quan trọng' :
                    (item.priorityLevel == 1 ? 'Độ ưu tiên: Cao' : (item.priorityLevel == 2
                    ? 'Độ ưu tiên: Trung bình' : 'Độ ưu tiên: Thấp'))}}"
                    class="prioritylevel_todo"
                    ng-style="{ backgroundColor: item.priorityLevel == 0 ? 'red' : item.priorityLevel == 1 ? 'orange' : item.priorityLevel == 2 ? 'yellow' : 'green' }"
                  >
                  </span>
                  <br /><i class="bx bx-menu"></i
                ></a>
                <div class="list_member_todo">
                  <a
                    ng-repeat="member in item.members track by $index"
                    my-tooltip
                    tooltip-content="{{member.name + ' ' + member.code}}"
                    href=""
                  >
                    <img
                      class="rounded-circle"
                      width="30px"
                      height="30px"
                      src="{{member.image}}"
                      alt=""
                    />
                  </a>
                </div>
              </li>

              <li style="z-index: 2">
                <div class="form_add_card" ng-show="xx.checkShowAddCard">
                  <input
                    type="text"
                    placeholder="Enter card title"
                    class="form-control mb-2"
                    name="inputTitle"
                    ng-model="valueInput"
                  />
                  <button ng-click="addNewCard(xx.id)" class="btn btn-primary">
                    Add card
                  </button>
                  <button
                    class="btn btn-outline-secondary"
                    ng-click="xx.checkShowAddCard = false"
                  >
                    Close
                  </button>
                  <div class="toggle-menu">
                    <button
                      class="btn btn-outline-secondary custom"
                      ng-click="toggleMenu()"
                    >
                      ...
                    </button>
                    <ul ng-show="showMenu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Delete</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li
                class="li_custom"
                style="color: #e6e3e3; margin-top: 0; height: 5px"
              >
                <hr />
              </li>
              <!-- </li> -->
            </ul>
          </div>
          <ul class="ul_add-card">
            <li
              class="list-group-item add-card"
              ng-click="addACard(xx.id)"
              ng-hide="xx.checkShowAddCard"
            >
              <i class="bx bx-plus"></i> Add a card
            </li>
            <!-- <li class="list-group-item"> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="modal_showMember"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-lg" role="document">
      <div class="modal-content">
        <form id="form_member">
          <div class="modal-header">
            <h5 class="modal-title">Danh sách các thành viên tham gia dự án</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div ng-repeat="member in listMemberById">
                <div class="custom_member">
                  <img
                    class="rounded-circle"
                    width="50px"
                    height="50px"
                    src="{{member.image}}"
                    alt=""
                  />
                  <span style="margin-left: 20px; font-size: 16px"
                    >{{member.name}}</span
                  >
                  <span class="role_member_custom" style="margin-left: 20px">
                    {{member.role == 0 ? "Quản lý" : "Thành viên"}}</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary btn btn-light"
              data-bs-dismiss="modal"
            >
              Hủy
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="modal_show_detail_todo"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-lg" role="document">
      <div class="modal-content">
        <form id="form_member">
          <div class="modal-header">
            <h5 class="modal-title" style="width: auto">
              <i class="bx bx-task"></i>
              <b
                ><input
                  class="title_detail_todo"
                  type="text"
                  name="toDoName"
                  value="{{detailTodo.name}}"
              /></b>
              <br />
              <p style="font-size: 14px">
                trong danh sách {{detailTodo.statusTodo}}
              </p>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-9">
                  <div class="member__label">
                    <div class="member_detail_todo">
                      <h6 style="font-size: 14px">Thành viên</h6>
                      <a
                        ng-repeat="member in detailTodo.listMemberDetailTodo"
                        my-tooltip
                        tooltip-content="{{member.name + ' ' + member.code}}"
                        href=""
                      >
                        <img
                          class="rounded-circle"
                          width="35px"
                          height="35px"
                          src="{{member.image}}"
                          alt=""
                        />
                      </a>
                      <button
                        ng-click="openDialogAddMember($event)"
                        class="btn-add-member"
                      >
                        <i class="bx bx-plus"></i>
                      </button>
                    </div>
                    <div class="label_detail_todo">
                      Nhãn
                      <div class="span_custom_label">
                        <span
                          ng-repeat="lb in detailTodo.listLabelDetailTodo"
                          my-tooltip
                          tooltip-content="{{lb.name}}"
                          class="span_label"
                          ng-style="{ backgroundColor: lb.colorLabel }"
                          ><span class="label_dot_detail"></span
                          >{{lb.code}}</span
                        >
                        <span
                          ng-click="openDialogAddLabel($event)"
                          class="span_label_plus"
                          ><i class="bx bx-plus"></i
                        ></span>
                      </div>
                    </div>
                  </div>

                  <div class="priority-level-custom-todo">
                    <div class="title-priority">Độ ưu tiên:</div>
                    <span
                      ng-style="{ color: detailTodo.priorityLevel == 0 ? 'red' : detailTodo.priorityLevel == 1 ? 'orange' : detailTodo.priorityLevel == 2 ? 'yellow' : 'green' }"
                      ><b>
                        {{detailTodo.priorityLevel == 0 ? 'Quan trọng' :
                        (detailTodo.priorityLevel == 1 ? 'Cao' :
                        (detailTodo.priorityLevel == 2 ? 'Trung bình' :
                        'Thấp'))}}</b
                      ></span
                    >
                    <span
                      class="span-priority"
                      ng-style="{ backgroundColor: detailTodo.priorityLevel == 0 ? 'red' : detailTodo.priorityLevel == 1 ? 'orange' : detailTodo.priorityLevel == 2 ? 'yellow' : 'green' }"
                    >
                    </span>
                  </div>

                  <div class="descipstions_custom">
                    <i class="bx bx-menu"></i><span> Mô tả </span> <br />
                    <textarea
                      name=""
                      class="textarea_custom_detail_todo"
                      id=""
                      cols="30"
                      rows="10"
                      spellcheck="false"
                    >
{{detailTodo.descriptions}}</textarea
                    >
                  </div>
                  <div class="checklist_custom">
                    <i class="bx bx-task"></i>
                    <span style="font-size: 17px; font-weight: 500">
                      Danh sách đầu việc</span
                    >
                    <div class="list_task_checklist">
                      <progress value="0" max="100"></progress>
                      <div
                        ng-repeat="chklist in detailTodo.listTaskDetailTodo"
                        class="checkbox_list"
                      >
                        <input
                          type="checkbox"
                          value="{{chklist.id}}"
                          class="form-check-input custom"
                        /><span class="content_checklist">
                          {{chklist.name}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="activity_custom">
                    <i class="bx bx-menu"></i
                    ><span style="font-size: 17px; font-weight: 500">
                      Hoạt động
                    </span>
                    <br />
                  </div>
                </div>
                <div class="col-3">
                  <span style="font-size: 14px">Thêm vào thẻ</span>
                  <div class="row">
                    <button
                      ng-click="openDialogAddMember($event)"
                      class="btn_add_to_card"
                    >
                      <i class="bx bx-user"></i> Thành viên
                    </button>
                    <div
                      class="dialogAddMember"
                      ng-show="showDialogAddMember"
                      ng-style="dialogStyleAddMember"
                    >
                      <div class="dialog-contentAddMember">
                        <button
                          type="button"
                          class="closeAddMember"
                          ng-click="closeDialogAddMember()"
                        >
                          &times;
                        </button>
                        <h4 class="dialog-titleAddMember">Thành viên</h4>
                        <div class="dialog-bodyAddMember">
                          <div class="container-fluid">
                            <div class="row">
                              <input
                                type="text"
                                class="input_search_member"
                                placeholder="Tìm kiếm thành viên"
                                name="inputSearchMember"
                                id=""
                              />
                            </div>
                            <div style="margin-top: 10px; margin-bottom: 10px">
                              <span style="font-size: 14px"
                                >Danh sách thành viên</span
                              >
                            </div>
                            <div class="d-flex flex-wrap">
                              <a
                                ng-repeat="member in listMemberProject"
                                my-tooltip
                                tooltip-content="{{member.name + ' ' + member.code}}"
                                href=""
                                ng-click="createOrDeleteAssign(member.id, detailTodo.id, member.checkMemberAssign)"
                              >
                                <img
                                  class="rounded-circle"
                                  width="35px"
                                  height="35px"
                                  src="{{member.image}}"
                                  alt="" />
                                <i
                                  ng-show="member.checkMemberAssign"
                                  class="bx bx-check custom"
                                ></i
                              ></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button
                      ng-click="openDialogAddLabel($event)"
                      class="btn_add_to_card"
                    >
                      <i class="bx bx-label"></i> Nhãn
                    </button>
                    <div
                      class="dialogAddLabel"
                      ng-show="showDialogAddLabel"
                      ng-style="dialogStyleAddLabel"
                    >
                      <div class="dialog-contentAddLabel">
                        <button
                          type="button"
                          class="closeAddLabel"
                          ng-click="closeDialogAddLabel()"
                        >
                          &times;
                        </button>
                        <h4 class="dialog-titleAddLabel">Nhãn</h4>
                        <div class="dialog-bodyAddLabel">
                          <div class="container-fluid">
                            <div class="row">
                              <input
                                type="text"
                                class="input_search_label"
                                placeholder="Tìm kiếm nhãn"
                                name="inputSearchLabel"
                                id=""
                              />
                            </div>
                            <div style="margin-top: 10px; margin-bottom: 10px">
                              <span style="font-size: 14px"
                                >Danh sách nhãn</span
                              >
                            </div>
                            <div
                              ng-repeat="lb in listLabel"
                              class="d-flex flex-wrap custom_label"
                            >
                              <input
                                type="checkbox"
                                ng-click="changeCheckboxLabel(lb.id, detailTodo.id, lb.checkLabel)"
                                value="{{lb.id}}"
                                class="form-check-input custom_label"
                                name="checkbox_label"
                                ng-checked="{{lb.checkLabel}}"
                              />
                              <span
                                my-tooltip
                                tooltip-content="{{lb.name}}"
                                class="span_label_detail"
                                ng-style="{ backgroundColor: lb.colorLabel }"
                                ><span class="label_dot_detail"></span
                                >{{lb.code}}</span
                              >
                              <i class="bx bx-pencil cusom_label"></i>
                            </div>
                          </div>
                        </div>
                        <div class="btn_add_label">
                          <button>
                            <i class="bx bx-plus"></i> Thêm mới nhãn
                          </button>
                        </div>
                      </div>
                    </div>
                    <button class="btn_add_to_card">
                      <i class="bx bx-flag"></i>
                      Độ ưu tiên
                    </button>
                    <!-- <div
                      class="dialogAddLabel"
                      ng-show="showDialogAddLabel"
                      ng-style="dialogStyleAddLabel"
                    >
                      <div class="dialog-contentAddLabel">
                        <button
                          type="button"
                          class="closeAddLabel"
                          ng-click="closeDialogAddLabel()"
                        >
                          &times;
                        </button>
                        <h4 class="dialog-titleAddLabel">Độ ưu tiên</h4>
                        <div class="dialog-bodyAddLabel">
                          <div class="container-fluid">
                            <div style="margin-top: 10px; margin-bottom: 10px">
                              <span style="font-size: 14px">Danh sách</span>
                            </div>
                          </div>
                        </div>
                        <div class="btn_add_label">
                          <button>
                            <i class="bx bx-plus"></i> Thêm mới nhãn
                          </button>
                        </div>
                      </div>
                    </div> -->
                    <button class="btn_add_to_card">
                      <i class="bx bx-task"></i> Đầu việc
                    </button>
                    <button class="btn_add_to_card">
                      <i class="bx bx-time"></i> Ngày hạn
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Dialog -->
</div>
