<div id="main" class="main">
  <h1>Quản lý dự án</h1>
  <br />
  <div class="container">
  <!-- form seacrh -->
  <!-- Content here -->
  <div class="search-bar">
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
        style="width: 400px"
        ng-model="input_search"
      />
      <button class="btn btn-outline-success" ng-click="search()" type="button"  >Search</button>
    </form>
  </div>
  <br />
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    ng-click="clearInputModalAdd()"
  >
    Thêm dự án
  </button>
  <!-- Modal thêm project -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm dự án</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <!-- body model -->
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="">Mã dự án</label>
              <input
                type="text"
                class="form-control"
                id=""
                ng-model="form_project.code"
              />
              <small class="text-danger"><p>{{errorCodeAdd}}</p></small>
            </div>
            <div class="form-group">
              <label for="">Tên dự án</label>
              <input
                type="text"
                class="form-control"
                ng-model="form_project.name"
              />
              <small class="text-danger"><p>{{errorNameAdd}}</p></small>
            </div>
            <div class="form-group">
              <label >Ngày bắt đầu:</label>
              <input
                class="form-control"
                type="date"
                ng-model="form_project.startTime"
              />
              <small class="text-danger"><p>{{errorStartTimeAdd}}</p></small>
            </div>
            <div class="form-group">
              <label >Ngày kết thúc:</label>
              <input
                class="form-control"
                type="date"
                ng-model="form_project.endTime"
              />
              <small class="text-danger"><p>{{errorEndTimeAdd}}</p></small>
            </div>
            <div class="form-group">
              <label for="">Mô tả dự án </label>
              <input type="text" class="form-control"  ng-model="form_project.descriptions" />
              <small class="text-danger"><p>{{errorDescriptionsAdd}}</p></small>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Thoát
          </button>
          <button type="button" class="btn btn-primary" ng-click="addProject()" >
            Thêm
          </button>
        </div>
      </div>
    </div>
  </div>
<div>
  <table class="table table-striped" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col" style="display: none">ID</th>
        <th scope="col">STT</th>
        <th scope="col">Mã số</th>
        <th scope="col">Tên dự án</th>
        <th scope="col">Tiến độ</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Ngày bắt đầu</th>
        <th scope="col">Ngày kết thúc</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in listProject ">
        <td style="display: none">{{item.id}}</td>
        <td>{{item.stt}}</td>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.progress}}%</td>
        <td>
          {{item.statusProject == 1 ? 'Chưa diễn ra' : (item.statusProject == 0 ?
          'Đang diễn ra' :'Đã hoàn thành' )}}
        </td>
        <td>{{item.startTime | date :'dd/MM/yyyy'}}</td>
        <td>{{item.endTime | date :'dd/MM/yyyy'}}</td>
        <td>
          <a
          href="#"
                  data-bs-toggle="modal"
          data-bs-target="#exampleModalDetail"
          ng-click="detail($event,$index)"
                >
                  <div
                    class="btn_eye"
                    data-toggle="tooltip"
                    title="Xem chi tiết"
                  >
                    <img src="../../../assets/img/eye-fill.svg" />
                  </div>
                </a>
          <a
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#exampleModalUpdate"
          ng-click="detail($event,$index)"
                >
                  <div
                    class="btn_pencil"
                    data-toggle="tooltip"
                    title="Sửa thông tin giai đoạn"
                  >
                    <img src="../../../assets/img/pencil-square.svg" />
                  </div>
                </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <nav class=""  aria-label="Page navigation example"  >
    <ul class="pagination" style="float: right; margin-bottom: 20px;">
      <li
        ng-click="currentPage > 0 ? actionPage(currentPage - 1) : null"
        ng-class="{ 'disabled': currentPage === 0 }"
        class="page-item"
      >
        <a class="page-link" href="" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li
        ng-repeat="item in arrayPage"
        ng-click="actionPage(item - 1)"
        ng-class="{active: ($index === currentPage)}"
        class="page-item"
      >
        <a class="page-link" href="">{{item}}</a>
      </li>
      <li
        ng-click="totalPages - 1 > currentPage ? actionPage(currentPage + 1) : null"
        ng-class="{ 'disabled': currentPage === totalPages - 1 }"
        class="page-item"
      >
        <a class="page-link" href="" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Modal update project -->
  <div
    class="modal fade"
    id="exampleModalUpdate"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update dự án</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <!-- ------------- -->
        <div class="row">
          <div class="content-title" style="text-align: right;">
            <div class="list-member">
              <a
                ng-repeat-start="member in listMemberJoinProject | limitTo:4"
                data-toggle="tooltip"
                title="{{member.name}}"
                href=""
              >
                <img
                  class="rounded-circle"
                  width="30px"
                  height="30px"
                  src="{{member.image}}"
                  alt=""
                />
              </a>
              <a ng-repeat-end></a>
              <a  class="btn btn-success"
              href="#"  
              class="btn-people"
              data-bs-toggle="modal"
              data-bs-target="#modal_showMember_update"
              role="button" style="margin: 7px;"> <i class="bi bi-plus-circle"></i></a>
            </div>
          </div>
        </div>
        <!-- body model -->
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input
                type="hidden"
                class="form-control"
                id=""
                ng-model="form_project_update.id"

              />
            </div>
            <div class="form-group">
              <label for="">Mã dự án</label>
              <input
                type="text"
                class="form-control"
                id=""
                ng-model="form_project_update.code"
              />
              <small class="text-danger"><p>{{errorCodeUpdate}}</p></small>
            </div>
            <div class="form-group">
              <label for="">Tên dự án</label>
              <input
                type="text"
                class="form-control"
                ng-model="form_project_update.name"
              />
              <small class="text-danger"><p>{{errorNameUpdate}}</p></small>
            </div>
            <div class="form-group">
              <label for="start">Ngày bắt đầu:</label>
              <input
                class="form-control"
                type="date"
                ng-model="form_project_update.startTime"
              />
              <small class="text-danger"><p>{{errorStartTimeUpdate}}</p></small>
            </div>
            <div class="form-group">
              <label for="start">Ngày kết thúc:</label>
              <input
                class="form-control"
                type="date"
                ng-model="form_project_update.endTime"
              />
              <small class="text-danger"><p>{{errorEndTimeUpdate}}</p></small>
            </div>
            <div class="form-group">
              <label for="">Mô tả dự án </label>
              <input type="text" class="form-control" ng-model="form_project_update.descriptions"/>
              <small class="text-danger"><p>{{errorDescriptionsUpdate}}</p></small>
            </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Thoát
          </button>
          <button type="button"  class="btn btn-primary"  ng-click="Update($event)">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal detail project -->
    <div
    class="modal fade"
    id="exampleModalDetail"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-lg" role="document">
      <div class="modal-content">
        <form id="form_member">
          <div class="modal-header">
            <h5 class="modal-title">Chi tiết dự án</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <br>
          <div class="row">
            <div class="content-title" style="text-align: right;">
              <div class="list-member">
                <a
                  ng-repeat-start="member in listMemberJoinProject | limitTo:4"
                  data-toggle="tooltip"
                  title="{{member.name}}"
                  href=""
                >
                  <img
                    class="rounded-circle"
                    width="30px"
                    height="30px"
                    src="{{member.image}}"
                    alt=""
                  />
                </a>
                <a ng-repeat-end></a>
                <a class="btn btn-success" 
                href="#"  
                class="btn-people"
                data-bs-toggle="modal"
                data-bs-target="#modal_showMember_join_project"
                role="button" style="margin: 7px;"> <i class="bi bi-plus-circle"></i></a>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  Mã dự án:
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    ng-model="form_project_update.code"
                    id=""
                    readonly
                  />
                </div>
                <div class="col-6">
                  Ngày bắt đầu:
                  <input
                    type="date"
                    class="form-control"
                    name=""
                    ng-model="form_project_update.startTime"
                    id=""
                    readonly
                  />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-6">
                  Tên dự án :
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    ng-model="form_project_update.name"
                    id=""
                    readonly
                  />
                </div>
                <div class="col-6">
                  Ngày kết thúc:
                  <input
                    type="date"
                    class="form-control"
                    name=""
                    ng-model="form_project_update.endTime"
                    id=""
                    readonly
                  />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-6">
                  Mô tả dự án:
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    ng-model="form_project_update.descriptions"
                    id=""
                    readonly
                  />
                </div>
                <div class="col-6">
                 Tiến độ dự án
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    ng-model="form_project_update.progress"
                    id=""
                    readonly
                  />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-6">
                  Trạng thái:
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    id=""
                    value=" {{form_project_update.statusProject == 1 ? 'Chưa diễn ra' : (form_project_update.statusProject == 0 ?
                            'Đang diễn ra' :'Đã hoàn thành' )}}"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary btn btn-light"
              data-bs-dismiss="modal"
            >
              Hủy
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- modal thêm  thành viên  -->
  <div
  class="modal fade"
  id="modal_showMember"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-lg" role="document">
    <div class="modal-content">
      <form id="form_member">
        <div class="modal-header">
          <h5 class="modal-title">Danh sách các thành viên</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <!-- search merber  -->
            <input
            class="form-control me-2"
            type="text"
            ng-model="searchtxt.name" 
            placeholder="Search for names.."
            aria-label="Search"
            style="width: 400px"
          />
              <div class="custom_member">
                <table class="table table-borderless" >
                  <thead>
                    <tr>
                      <th scope="col" style="display: none">ID</th>
                      <th scope="col" ></th>
                      <th scope="col">Họ và tên</th>
                      <th scope="col">Chức vụ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr ng-repeat="member in listMemberById  | filter : searchtxt "> -->
                    <tr ng-repeat="member in filteredItems = (listMemberById | filter: searchtxt )">
                      <td style="display: none">{{member.id}}</td>
                      <td><img
                        class="rounded-circle"
                        width="50px"
                        height="50px"
                        src="{{member.image}}"
                        alt=""
                      /></td>
                      <td>{{member.name}}</td>
                      <td>{{member.role == 0 ? "Quản lý" : "Thành viên"}}</td>
                      <td>
                        <a class="btn btn-primary" id="button1"  ng-click="addMemberProject($event,listMemberById.indexOf(member))" href="#" role="button">Thêm</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary btn btn-light"
            data-bs-dismiss="modal"
          >
            Hủy
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
  <!-- modal thành viên đã tham gia dự án  -->
  <div
  class="modal fade"
  id="modal_showMember_join_project"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-lg" role="document">
    <div class="modal-content">
      <form id="form_member">
        <div class="modal-header">
          <h5 class="modal-title">Danh sách các thành viên tham gia dự án</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
              <div class="custom_member">
                <table class="table table-borderless">
                  <tbody>
                    <tr ng-repeat="member in listMemberJoinProject">
                      <td><img
                        class="rounded-circle"
                        width="50px"
                        height="50px"
                        src="{{member.image}}"
                        alt=""
                      /></td>
                      <td>{{member.name}}</td>
                      <td>{{member.role == 0 ? "Quản lý" : "Thành viên"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary btn btn-light"
            data-bs-dismiss="modal"
          >
            Hủy
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

 <!-- model upate thành vien  -->
 <div
 class="modal fade"
 id="modal_showMember_update"
 tabindex="-1"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true"
>
 <div class="modal-dialog modal-lg modal-lg" role="document">
   <div class="modal-content">
     <form id="form_member">
       <div class="modal-header">
         <h5 class="modal-title">Danh sách các thành viên</h5>
         <button
           type="button"
           class="btn-close"
           data-bs-dismiss="modal"
           aria-label="Close"
         ></button>
       </div>
       <div class="modal-body">
         <div class="container">
           <!-- search merber  -->
           <input
           class="form-control me-2"
           type="text"
           ng-model="searchtxt.name" 
           placeholder="Search for names.."
           aria-label="Search"
           style="width: 400px"
         />
         <br/>
        <button type="button" class="btn btn-primary"  
        data-bs-toggle="modal"
        data-bs-target="#modal_showMember_add_member">Thêm thành viên</button>

             <div class="custom_member">
               <table class="table table-borderless" >
                 <thead>
                   <tr>
                     <th scope="col" style="display: none">ID</th>
                     <th scope="col" ></th>
                     <th scope="col">Họ và tên</th>
                     <th scope="col">Chức vụ</th>
                   </tr>
                 </thead>
                 <tbody>
                   <!-- <tr ng-repeat="member in listMemberById  | filter : searchtxt "> -->
                   <tr ng-repeat="member in filteredItems = (listMemberJoinProject | filter: searchtxt )">
                     <td style="display: none">{{member.id}}</td>
                     <td><img
                       class="rounded-circle"
                       width="50px"
                       height="50px"
                       src="{{member.image}}"
                       alt=""
                     /></td>
                     <td>{{member.name}}</td>
                     <td>{{member.role == 0 ? "Quản lý" : "Thành viên"}}</td>
                     <td>
                       <a class="btn btn-danger" id="button1"  ng-click="deleteMenberJoinProject($event,listMemberJoinProject.indexOf(member)) " href="#" role="button"><i class="bi bi-trash"></i></a>
                     </td>
                   </tr>
                 </tbody>
               </table>
             </div>
         </div>
       </div>
       <div class="modal-footer">
         <button
           type="button"
           class="btn btn-outline-secondary btn btn-light"
           data-bs-dismiss="modal"
         >
           Hủy
         </button>
       </div>
     </form>
   </div>
 </div>
</div>
<div
class="modal fade"
id="modal_showMember_add_member"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-lg modal-lg" role="document">
  <div class="modal-content">
    <form id="form_member">
      <div class="modal-header">
        <h5 class="modal-title">Danh sách các thành viên</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <!-- search merber  -->
          <input
          class="form-control me-2"
          type="text"
          ng-model="searchtxt.name" 
          placeholder="Search for names.."
          aria-label="Search"
          style="width: 400px"
        />
            <div class="custom_member">
              <table class="table table-borderless" >
                <thead>
                  <tr>
                    <th scope="col" style="display: none">ID</th>
                    <th scope="col" ></th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Chức vụ</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr ng-repeat="member in listMemberById  | filter : searchtxt "> -->
                  <tr ng-repeat="member in filteredItems = (listMemberById | filter: searchtxt )">
                    <td style="display: none">{{member.id}}</td>
                    <td><img
                      class="rounded-circle"
                      width="50px"
                      height="50px"
                      src="{{member.image}}"
                      alt=""
                    /></td>
                    <td>{{member.name}}</td>
                    <td>{{member.role == 0 ? "Quản lý" : "Thành viên"}}</td>
                    <td>
                      <a class="btn btn-primary" id="button1"  ng-click="addMemberProjectUpdate($event,listMemberById.indexOf(member))" href="#" role="button">Thêm</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary btn btn-light"
          data-bs-dismiss="modal"
        >
          Hủy
        </button>
      </div>
    </form>
  </div>
</div>
</div>
</div>
