.card-title {
  margin-top: -5px;
  margin-left: 5px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1484396196377-1ca16c878cb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1778&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h4 {
  float: left;
}

.title-project {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: 1500;
}

h4 {
  font-weight: 900;
}

.list-member {
  float: right;
}

.title-project {
  float: left;
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 2px 2px rgba(19, 42, 192, 0.1);
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.list-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-group-item {
  border: none;
  padding: 5px 0;
  font-size: 14px;
  position: relative;
  list-style: none;
  cursor: grabbing;
  transition: box-shadow 0.15s ease;
}

.list-group-item.dndDragging {
  opacity: 0.5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.149);
}

.list-group-item.dndPlaceholder {
  background-color: transparent;
  border-radius: 3px;
}

.list-group-item.dndDraggingSource {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.list-group-item.dndDraggingSource.ng-leave {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.list-group-item.dndDraggingSource.ng-leave.ng-leave-active {
  opacity: 0.5;
}

.list-group-item.add-card {
  padding: 5px !important;
  cursor: pointer;
  background-color: transparent !important;
}

.ul_add-card {
  margin-bottom: 3px;
  margin-top: 5px;
  margin-left: 10px;
  width: 91%;
  padding-left: 0px;
  z-index: 2;
}

li.list-group-item::before {
  display: none;
}

li.list-group-item,
li.list-group-item * {
  user-select: none;
}

.form_add_card * {
  user-select: text;
}

.list-group-item a {
  color: #15385d;
  text-decoration: none;
}

.list-group-item::marker {
  display: none;
}

.list-group-item a:hover {
  text-decoration: underline;
}

.card-body {
  overflow-y: auto;
  max-height: 590px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 0px;
}

.card-body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.card-body::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 10px;
}

.card-body::-webkit-scrollbar-thumb:hover {
  background-color: #cecece;
}

.card.trello-card h6 {
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.trello-card {
  /* background: linear-gradient(
    to bottom right,
    hsla(349, 26%, 75%, 0.5),
    hsl(203, 46%, 76%)
  ); */
  background-color: #f1f1f1;
  margin-top: 10px;
  border-radius: 2px;
  max-height: 595px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  width: 275px;
}

.trello-card .card-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  color: rgb(60, 60, 60);
}

.li_custom {
  left: 0;
  height: 530px !important;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.li_custom hr {
  margin: 0;
  padding: 0;
}
.trello-card .list-group {
  padding: 0;
  margin-bottom: 0;
}

.trello-card .list-group-item {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  user-select: none;
  padding-top: 1px;
  /* padding: 10px; */
  z-index: 2;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  margin-bottom: 4px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}

.trello-card .list-group-item a {
  color: #172b4d;
  font-weight: 400;
}

.trello-card .list-group-item:hover {
  background-color: #d2dbf0;
}

.container-custom-trello::-webkit-scrollbar {
  width: 5px;
  height: 13px;
  background-color: transparent;
}

.container-custom-trello::-webkit-scrollbar-track {
  background-color: transparent;
}

.container-custom-trello::-webkit-scrollbar-thumb {
  background-color: rgba(193, 193, 193, 0.5);
  border-radius: 30px;
}

.container-custom-trello::-webkit-scrollbar-thumb:hover {
  background-color: rgba(168, 168, 168, 0.5);
}

.container-custom-trello {
  height: 623px;
  display: flex;
  overflow-x: auto;
}

.rounded-circle {
  border: 1px white solid;
}

.custom_member {
  margin-top: 10px;
  width: 400px;
}

.role_member_custom {
  float: right;
  background-color: #81aece;
  border: 1px white solid;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 0.8em; /* giảm kích thước font chữ */
  padding: 2px 5px; /* giảm khoảng cách giữa nội dung và viền */
}

.btn-people {
  border: 1px white solid;
  height: 32px;
  width: 32px;
  font-size: 12px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
}

.btn-people-detail {
  border: 1px white solid;
  height: 34px;
  width: 33px;
  font-size: 12px;
  line-height: 15px;
  border-radius: 10px;
  background-color: #3a75b4;
  color: white;
}

.btn-people :hover {
  border: 1px white solid;
  height: 30px;
  width: 35px;
  margin-bottom: 1px;
  font-size: 12px;
  border-radius: 50%;
  background-color: #ffffff;
}

.btn-add-member {
  border: 1px rgb(255, 255, 255) solid;
  height: 35px;
  width: 35px;
  font-size: 12px;
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}

.btn-add-label {
  border: 1px rgb(255, 255, 255) solid;
  height: 33px;
  width: 35px;
  font-size: 12px;
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}

.modal_showMember {
  width: 500px !important;
}

.col-4 {
  width: 27%;
}

.listPeriod {
  float: left;
  margin-left: 10px;
}

.form-control.select {
  font-size: 14px;
  background-color: #ffffffb0;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.listPeriod__btn {
  float: left;
  margin-left: 5px;
}

.toggle-menu {
  position: relative;
  display: inline-block;
  float: right;
}

.toggle-menu button {
  padding: 5px;
  font-size: 18px;
  border: none;
}

.toggle-menu ul {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.toggle-menu button {
  padding: 5px;
  font-size: 18px;
}

.toggle-menu ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
}

.toggle-menu button:hover {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  text-decoration: none;
}

.toggle-menu ul li a:hover {
  background-color: #f2f2f2;
}

.label_todo {
  display: inline-block;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  color: #fff;
  background-color: #61bd4f;
  border-radius: 3px;
  margin-right: 0.2em;
  height: 1.2em;
  line-height: 0.7em;
}

.list_member_todo {
  float: right;
}

.list_member_todo a:hover {
  text-decoration: none;
}

.prioritylevel_todo {
  display: inline-block;
  padding: 0.2em 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
  height: 0.7em;
  width: 50px;
  line-height: 0.7em;
  /* color: #7aa1e4; */
}

.prioritylevel_todo a:hover {
  text-decoration: none;
}

.label_dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: rgb(255, 255, 255);
}

.member__label {
  align-items: center;
}

.member_detail_todo {
  float: left;
  margin-right: 10px;
}

.member_detail_todo h6 {
  margin-top: 2px;
}

.label_detail_todo {
  flex-wrap: wrap;
  font-size: 14px;
}

.span_custom_label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 10px;
}

.span_label {
  display: flex;
  align-items: center;
  padding: 2px 6px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  margin-top: 8px;
  margin-right: 5px;
}

.span_label_plus {
  display: flex;
  align-items: center;
  border-radius: 3px;
  text-align: center;
  color: #000000;
  margin-top: 8px;
  font-size: 12px;
  cursor: pointer;
  background-color: #efeeee;
  width: 33px;
  height: 33px;
}

.span_label_plus i {
  text-align: center;
  margin-left: 9px;
}

@media screen and (max-width: 768px) {
  .span_custom_label {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.span_label {
  padding: 5px;
  color: white;
  font-size: 15px;
}

.label_dot_detail {
  display: inline-block;
  width: 10px;
  margin-right: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.btn_add_to_card {
  background-color: #61bd4f;
}

.btn_add_to_card {
  margin-top: 10px;
  padding-left: 5px;
  border: none;
  height: 35px;
  border-radius: 3px;
  background-color: #f1f1f1;
  text-align: left;
  font-size: 14px;
}

.content_checklist {
  margin-left: 10px;
  font-size: 14px;
}

.modal-title {
  width: 100% !important;
}

.title_detail_todo {
  font-weight: 700;
  border: none;
  width: 95%;
}

.descipstions_custom {
  margin-top: 20px;
}

.descipstions_custom span {
  font-weight: 500;
  font-size: 17px;
}

.textarea_custom_detail_todo {
  width: 100%;
  border: none;
  height: 150px;
  background-color: #f8f8f8;
  padding: 5px;
  font-size: 15px;
}

.activity_custom,
.checklist_custom {
  margin-top: 20px;
}

.list_task_checklist {
  margin-top: 10px;
}

.checkbox_list {
  margin-top: 10px;
}

progress {
  margin-left: 35px;
  width: 93%;
  height: 8px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: #ddd;
}

progress::-webkit-progress-value {
  background-color: #3ec74b;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: #3ec74b;
  border-radius: 10px;
}

progress::-ms-fill {
  background-color: #3ec74b;
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  height: 20px;
  border-radius: 10px;
  background-color: #3ec74b;
}

progress::-ms-fill {
  background-color: #3ec74b;
  border-radius: 10px;
}

progress::before {
  content: attr(value) "%";
  position: absolute;
  font-size: 14px;
  text-align: center;
  margin-top: -7px;
  left: 25px;
  color: #000;
  font-weight: 500;
}

/* Dialog */

.dialogAddMember {
  position: absolute;
  top: 0;
  left: -100%;
  width: 300px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999999999;
}

.dialogAddMember.show {
  display: block;
}

.dialog-contentAddMember {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialog-titleAddMember {
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.dialog-bodyAddMember {
  flex: 1;
  overflow-y: auto;
}

.d-flex.flex-wrap {
  margin-bottom: 20px;
}

.closeAddMember {
  position: absolute;
  top: -6px;
  right: 3px;
  font-size: 30px;
  font-weight: bold;
  color: #888;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* Dialog nhãn */

.btn_add_label {
  margin-bottom: 10px;
  text-align: center;
}

.btn_add_label button {
  width: 250px;
  height: 30px;
  border: none;
  font-size: 15px;
}

.dialogAddLabel {
  position: absolute;
  top: 0;
  max-height: 470px;
  left: -100%;
  width: 300px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999999999;
}

.dialogAddLabel.show {
  display: block;
}

.dialog-contentAddLabel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialog-titleAddLabel {
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.dialog-bodyAddLabel {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  max-height: 370px;
}

.closeAddLabel {
  position: absolute;
  top: -6px;
  right: 3px;
  font-size: 30px;
  font-weight: bold;
  color: #888;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* Độ ưu tiên */

.dialogAddPriorityLevel {
  position: absolute;
  top: 0;
  max-height: 470px;
  left: -100%;
  width: 300px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999999999;
}

.dialogAddPriorityLevel.show {
  display: block;
}

.dialog-contentAddPriorityLevel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialog-titleAddPriorityLevel {
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.dialog-bodyAddPriorityLevel {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  max-height: 370px;
}

.closeAddPriorityLevel {
  position: absolute;
  top: -6px;
  right: 3px;
  font-size: 30px;
  font-weight: bold;
  color: #888;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/*  */

.input_search_member {
  height: 35px;
  margin-top: 15px;
  border: 1px solid #81aece;
}

.input_search_label {
  height: 35px;
  width: 99%;
  margin-top: 15px;
  border: 1px solid #81aece;
}

.bx.bx-check.custom {
  background-color: #2c7eae;
  height: 19px;
  text-align: center;
  width: 19px;
  margin-left: -15px;
  margin-bottom: -20px;
  color: white;
  font-weight: bold;
  border-radius: 1px;
}

.checkbox_label {
  width: 17px;
  background-color: #2c7eae;
  color: #000;
}

.span_label_detail {
  margin-left: 10px;
  background-color: #57ac61;
  height: 30px;
  width: 190px;
  padding: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  color: #fff;
  margin-right: 5px;
}

.form-check-input.custom_label {
  margin-top: 7px;
  border-radius: 1px !important;
}

.d-flex.flex-wrap.custom_label {
  margin-bottom: 3px;
}

.bx.bx-pencil.cusom_label {
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.bx.bx-pencil.cusom_label :hover {
  margin-top: 5px;
  margin-left: 5px;
}

.dialog-bodyAddLabel::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.dialog-bodyAddLabel::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  background-color: transparent;
}

.dialog-bodyAddLabel::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

.dialog-bodyAddLabel::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.priority-level-custom-todo {
  display: flex;
  margin-top: 15px;
  font-size: 14px;
  align-items: center;
  margin-bottom: -10px;
}

.title-priority {
  margin-right: 5px;
}

.span-priority {
  background-color: #ff0000;
  width: 80px;
  margin-left: 5px;
  border-radius: 10px;
  height: 8px;
  margin-top: 3px;
  cursor: pointer;
}

.form-check-item {
  margin-top: 13px;
  font-size: 15px;
}

.btn_add_custom {
  margin-top: 10px;
  color: white;
  border: none;
  background-color: #4a8fcf;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px;
}

.form_add_card {
  padding: 10px;
  background-color: #ffffff;
}

.form-control.mb-2 {
  border: none;
}

.btn_close_custom {
  border: none;
  margin-left: 10px;
  background-color: white;
}

.btn_close_custom :hover {
  border: none;
  background-color: white !important;
}

.btn_popup_custom {
  border: none;
  margin-top: 10px;
  height: 15px;
  background-color: white;
}

.btn_popup_custom :hover {
  border: none;
  margin-top: 10px;
  background-color: white;
}

.input_add_custom {
  width: 100%;
  height: 50px;
  font-size: 15px;
  outline: none;
  padding-left: 0;
  padding-top: 0;
  border: none;
}

.input_add_custom :focus {
  width: 100%;
  height: 50px;
  font-size: 15px;
  outline: none;
  border: none;
}

.item {
  position: relative;
  cursor: grab;
  transition: box-shadow 0.15s ease;
  list-style: none;
  opacity: 1;
}

.item.dndDragging {
  opacity: 1 ;
}

.item.dndDragging:not(.dndDraggingSource) {
  opacity: 1;
}

.item.dndPlaceholder {
  background-color: transparent;
  border-radius: 3px;
}

.item.dndDraggingSource {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.item.dndDraggingSource.ng-leave {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.item.dndDraggingSource.ng-leave.ng-leave-active {
  opacity: 0.5;
}
