.card-title {
  text-align: center;
}

body {
  background-image: url("https://images.unsplash.com/photo-1484396196377-1ca16c878cb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1778&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h4 {
  float: left;
}

.title-project {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: 1500;
}

h4 {
  font-weight: 900;
}

.list-member {
  float: right;
}

.title-project {
  float: left;
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 2px 2px rgba(19, 42, 192, 0.1);
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.list-group-item {
  border: none;
  padding: 5px 0;
  font-size: 14px;
}

.list-group-item a {
  color: #15385d;
  text-decoration: none;
}

.list-group-item a:hover {
  text-decoration: underline;
}

.trello-card {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ebecf0;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}

.trello-card .card-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.card-body {
  overflow-y: auto;
  max-height: 550px;
}

.card-body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.card-body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  background-color: transparent;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 30px;
}

.card-body::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.trello-card .list-group {
  padding: 0;
  margin-bottom: 0;
}

.trello-card .list-group-item {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 8px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}

.trello-card .list-group-item a {
  color: #172b4d;
  font-weight: 400;
}

.trello-card .list-group-item:hover {
  background-color: #b7bac1;
}
.container-custom-trello::-webkit-scrollbar {
  width: 5px;
  height: 15px;
  background-color: transparent;
}

.container-custom-trello::-webkit-scrollbar-track {
  background-color: transparent;
}

.container-custom-trello::-webkit-scrollbar-thumb {
  background-color: rgba(193, 193, 193, 0.5);
  border-radius: 30px;
}

.container-custom-trello::-webkit-scrollbar-thumb:hover {
  background-color: rgba(168, 168, 168, 0.5);
}

.container-custom-trello {
  height: 600px;
  display: flex;
  overflow-x: auto;
}

.rounded-circle {
  border: 1px white solid;
}

.custom_member {
    margin-top: 10px;
    width: 400px;
}

.role_member_custom {
    float: right;
    background-color: #81aece;
    border: 1px white solid;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 0.8em; /* giảm kích thước font chữ */
    padding: 2px 5px; /* giảm khoảng cách giữa nội dung và viền */
}

.btn-people {
  border: 1px white solid;
  height: 30px;
  width: 35px;
  font-size: 12px;
  border-radius: 50%;
}

.btn-people :hover {
  border: 1px white solid;
  height: 30px;
  width: 35px;
  font-size: 12px;
  border-radius: 50%;
  background-color: #ffffff;
}

.modal_showMember {
    width: 500px !important;
}