.title_project {
  float: left;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  background: #f6f9ff;
  color: #444444;
  height: calc(100vh - 110px);
}

.title_project a{
  float: left;
  color: rgb(97, 96, 96);
  font-size: 15px;
}

.add_new_period {
  float: right;
}

.card-body {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
}

.form-control.custom-input-search {
  width: 25%;
  float: left;
}

.btn.btn-primary.custom-btn {
  margin-left: 10px;
  margin-top: 2px;
}

.paging_custom {
  float: right;
}

.table.table-striped.table-hover {
  font-size: 14px;
}